<mat-card class="container">
  <form class="row" #myForm = "ngForm" (ngSubmit)="onSubmit(myForm)">
    <mat-form-field class="col-sm-3">
      <mat-label>Task Name</mat-label>
      <input matInput type="text" ngModel name="name" required>
    </mat-form-field>
    <mat-form-field class="col-sm-3">      
      <mat-label>Task Estimation</mat-label>
      <input matInput type="number" ngModel name="estimation" required>
    </mat-form-field>

    <mat-form-field class="col-sm-3" appearance="fill">
      <mat-label>Category of the task</mat-label>
      <mat-select ngModel name="category" required>
        <mat-option *ngFor="let task of tasks" [value]="task.value">
          {{task.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button class="btn btn-warning col-sm-3" [disabled]="!myForm.valid">Add</button>
  </form>

  <app-my-to-do-list></app-my-to-do-list>
</mat-card>
