<mat-card class="row">
    <mat-card-header>
    <h1>To Do List</h1>
    </mat-card-header>
    <mat-card-content cdkDropListGroup>

    <mat-card class="col-sm-3 example-list" 
    cdkDropList
    [cdkDropListData]="todo"
    (cdkDropListDropped)="drop($event)">
        <mat-card-header>
        <h3>To Do</h3>   
        </mat-card-header>
        <mat-card-content class="example-box" cdkDrag *ngFor="let task of todo">
            <app-my-task [task]="task"></app-my-task>        
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 example-list"
    cdkDropList
    [cdkDropListData]="inprogress"
    (cdkDropListDropped)="drop($event)">
        <mat-card-header>
        <h3>In Progress</h3>
        </mat-card-header>
        <mat-card-content class="example-box" cdkDrag *ngFor="let task of inprogress">
            <app-my-task [task]="task"></app-my-task>        
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 example-list"
    cdkDropList
    [cdkDropListData]="beapproved"
    (cdkDropListDropped)="drop($event)">
        <mat-card-header>
        <h3>To Be Approved</h3>
        </mat-card-header>
        <mat-card-content class="example-box" cdkDrag *ngFor="let task of beapproved">
            <app-my-task [task]="task"></app-my-task>        
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 example-list"       
    cdkDropList
    [cdkDropListData]="done"
    (cdkDropListDropped)="drop($event)">
        <mat-card-header>
        <h3>Done</h3>      
        </mat-card-header>
        <mat-card-content class="example-box" cdkDrag *ngFor="let task of done">
            <app-my-task [task]="task"></app-my-task>        
        </mat-card-content>
    </mat-card>

    </mat-card-content>
</mat-card>